.subheader{
    background-color:#232F3E;
    display: flex;
    align-items: center;
    padding: 1em;
    gap:2em;
    cursor: pointer;
}

@media(max-width:14rem){
    .subheader{
        font-size: 10px;
    }
}

.subheader--text{
    color:white;
    font-size: 1em;
}