* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    /* background-color: #0D1117; */
    background-image: linear-gradient(to right, rgba(0, 255, 255, 0.329), rgba(255, 192, 203, 0.801));

}

.bold {
    font-weight: bold;
}

.navbar {
    background-color: #131921;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.line1 {
    font-weight: lighter;
    font-size: 14px;
}

.line2 {
    font-weight: bold;
    font-size: 15px;
}

.navbar--logo {
    height: 50px;
    width: 115px;
}

.navbar--icon {
    color: white;
}

.location-dot {
    margin-left: 20px;
}

.navbar--greeting {
    width: 150px;
    color: white;
    margin-left: 5px;
}

.navbar--all-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px 0 0 5px;
    margin-left: 20px;
}

.navbar--search {
    width: 50vw;
    height: 40px;
    border: none;
}

.navbar--search--btn {
    height: 40px;
    width: 40px;
    background-color: #F3A847;
    border: none;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag {
    width: 30px;
    margin-left: 40px;
}

.navbar--list {
    margin-left: 30px;
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar--ele {
    color: white;
}

.navbar--login{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.cart {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.cart-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: white;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    color: #B12704;
}

.shirts {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

.pants {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

.home{
    display: grid;
    grid-template-columns: repeat(5, 20%);
}
